<!DOCTYPE html>
<html>
<head>
<title>Donation Successful</title>

<style>

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f5f5f5;
    flex-direction:column;
    font-family:Arial;
}

img{
    width:500px;
    max-width:90%;
    animation: zoom 1.5s ease;
}

@keyframes zoom{

0%{
transform:scale(0.6);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}

h2{
margin-top:20px;
color:green;
}

button{
margin-top:25px;
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

</style>

</head>

<body>

<img src="/images/donating img1.jpg">

<h2>Thank You For Donating Food ❤️</h2>

<button onclick="window.location.href='modules.html'">Back to Modules</button>

</body>
</html>